html {
    font-size: 14px;
    font-family: 'Noto Sans', 'Baloo Thambi 2', 'Baloo Da 2', Helvetica, sans-serif;
  }

/* #nav-img {
    width: 80px;
    background-color: white;
    border: 1px solid #806f67;
    border-radius: 5%;
    margin: 2px;
} */

.navbar {
    /* background-image: url("/static/img/lukas-blazek-f-TWhXOrLiU-unsplash.jpg"); */
    background-image: url("/static/img/lukas-blazek-f-TWhXOrLiU-unsplash_table.jpg");
}

/*
.media img {
    width: 120px;
    height: 80px;
}
*/

.card-img-favorite{
    /* width: 120px; */
    /* max-width: 240px; */
    /* height: 80px;    */
    width: 100%;
    height: 20vw;
    object-fit: cover;
}