html {
    font-size: 14px;
    font-family: 'Noto Sans', 'Baloo Thambi 2', 'Baloo Da 2', Helvetica, sans-serif;
  }

.nav-img {
    width: 80px;
    border: 1px solid white;
    border-radius: 5%;
    margin: 5px;
}
/*
.card {
    max-width: 18rem;
}


.card img {
     width: 300px;  
}


@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

@media (min-width: 992px) {
    .card-columns {
        column-count: 4;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 5;
    }
}
*/