<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="{{ url_for('static', filename='css/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans|Baloo+Da+2|Baloo+Thambi+2&display=swap" rel="stylesheet">
    <title>{% block page_title %}{% endblock %}</title>
</head>
<body>
    <nav class="navbar navbar-expand-sm  bg-success mb-3">
        <div class="container">
            <div class="display-4">Spoon</div>

            <ul class="navbar-nav">
                {% if not g.user %}
                    <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                    <li class="nav-item"><a class="nav-link" href="/login">Login</a></li>
                {% else %}
                    <li class="nav-item"><a class="nav-link" href="#">Favorites</a></li>
                    <li class="nav-item"><a class="nav-link" href="#">Cooklists</a></li>
                    <li class="nav-item"><a class="nav-link" href="/logout">Log out</a></li>
                {% endif %}
            </ul>
            <!-- <a class="navbar-brand" href="/">
                <img id="nav-img" class="nav-img rounded-circle" src="{{ url_for('static', filename='img/spoon_logo1.png') }}">
            </a> -->
            {% if not g.user %}
                Guest
            {% else %}
                {{g.user.first_name}}
            {% endif %}
        </div>
    </nav>

        {% for msg in get_flashed_messages() %}
        <div class="alert alert-secondary">
            <p>{{ msg }}</p>
        </div>
        {% endfor %}


        {% block main_content %} 
        {% endblock %}

        
</body>
</html>