{% extends 'base.html' %}

{% block page_title %} 
    Welcome to Spoon
{% endblock %}



{% block main_content %}
    <div class="container">
        <div class="display-4">Welcome</div>

        <form action="/recipes" method="GET">
            {{ meal_type_form.hidden_tag() }}

            <div class="form-group">
                {{ meal_type_form.meal_type.label }}
                {{meal_type_form.meal_type(class_="form-control")}}
              </div>
            <button class="btn btn-success btn-lg btn-block" type="submit">Display Recipes</button>
        </form>
    </div>
{% endblock %}