{% extends 'base.html' %}

{% block page_title %} 
    Recipes for you
{% endblock %}



{% block main_content %}
    <div class="container">

        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <div class="h4 p-2 mb-2 border border-secondary rounded text-center">Browse recipes</div>
            </div>
            <div class="col-sm-3 text-right">
                {% if g.user %}
                    <span class="lead">Logged in as {{g.user.first_name}}</span>
                {% endif %}
            </div>
        </div>

        <div class="row">
        {% for recipe in recipes %}
            <div class="col-6 col-sm-4">
                <div class="card my-3 data-id={{recipe['id']}}">
                    {% if recipe['image'] %}
                        <img class="card-img-top" src="{{recipe['image']}}">
                    {% else %}
                        <img class="card-img-top" src="{{ url_for('static', filename='img/image_not_available.png') }}">
                    {% endif %}
                    <div class="card-body">
                    <lead class="card-subtitle">{{recipe['title']}}</lead>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        {% if g.user %}
                            <a class="btn btn-sm btn-outline-secondary" href="/recipes/{{recipe['id']}}">See Recipe</a>
                        {% else %}
                            <button class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#modal2">See Recipe</button>
                            <div class="modal" id="modal2">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title">Login</h5>
                                            <button class="close" data-dismiss="modal">&times;</button>
                                        </div>
                                        <div class="modal-body">
                                            <form action="/login" method="POST">
                                                {{ form.hidden_tag() }}
                                                {% include 'users/login_modal.html' %}
                                                <input type="hidden" name="redirect_after_login" value="/recipes/{{recipe['id']}}">
                                                <div class="modal-footer">
                                                    <button class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                                    <button class="btn btn-primary">Login</button>
                                                </div>
                                            </form>
                                            <p>Or <a href="/register">register</a> a new account</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                        <!-- <button class="btn btn-outline-light"><i class="text-secondary fas fa-heart"></i> </button> -->
                    </div>
                    </div>
                </div>
            </div>
        
        {% endfor %}
        </div>

        <div class="row my-3">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-lg btn-block" href="/" role="button"><i class="fas fa-undo"></i> Back to Home</a>
            </div>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

{% endblock %}
