{% extends 'base.html' %}

{% block page_title %} 
    Recipes for you
{% endblock %}



{% block main_content %}
    <div class="container">
        <div class="row my-3">
            <div class="col-sm-6 offset-sm-3">
                <div class="h4 p-2 mb-2 border border-secondary rounded text-center">Your favorite recipes</div>
            </div>
            <div class="col-sm-3 text-right">
                <span class="lead">Logged in as {{g.user.first_name}}</span>
            </div>
        </div>
        <div class="row">
        {% for favorite in favorites %}

            <div class="row my-3">
                <div class="col">
                    <div class="card mb-3">

                        <div class="row">
                            <div class="col-md-3">
                                <img class="card-img-favorite p-2" src="{{favorite.image}}">
                            </div>

                            <div class="col-md-9">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <a href="/recipes/{{favorite.id}}">{{favorite.title}}</a>
                                        <form action="/user/favorites/remove_recipe" method="POST">
                                            <input type="hidden" name="delete-recipe-id" value="{{favorite.id}}">
                                            <button class="btn btn-warning float-right">Remove from Favorites</button>
                                        </form>
                                    </h5>
                                    <p class="card-text recipe-summary">{{favorite.summary}}</p>
                                </div>

                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="card-body bg-light">
                                {% if favorite.cooklists|selectattr("user_id", "equalto", g.user.id) %}
                                    <h5>Included in the following cooklists:</h5>
                                    <ul class="list-group list-group-horizontal">
                                        {% for cooklist in favorite.cooklists|selectattr("user_id", "equalto", g.user.id) %}
                                            <li class="list-group-item">{{cooklist.list_name}}</li>
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            {% set ns = namespace(at_least_one_cooklist = false) %}
                            <div class="col">
                                <div class="card-body  bg-light">
                                    <h5 class="my-1">Add recipe to cooklist:</h5>
                                    <form action="" method="POST">
                                        <div class="form-row align-items-center">
                                            <div class="col-auto my-1">
                                                <input type="hidden" value="{{favorite.id}}" name="add-recipe-id">
                                                <select class="custom-select" name="add-cooklist-id">
                                                    <option selected>Select available cooklist from this list:</option>
                                                    {% for userlist in userlists %}
                                                        {% if userlist not in favorite.cooklists %}
                                                            <option value="{{userlist.id}}">{{userlist.list_name}}</option>
                                                            {% set ns.at_least_one_cooklist = true %}
                                                        {% endif %}
                                                    {% endfor %}
                                                </select>
                                            </div>
                                            <div class="col-auto my-1">
                                                {% if ns.at_least_one_cooklist %}
                                                    <button type="submit" class="btn btn-success">Click to Add</button>
                                                {% else %}
                                                    <a href="/cooklists/new" class="btn btn-outline-secondary">Create a cooklist</a>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        
        {% endfor %}
        </div>

    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="{{ url_for('static', filename='js/utils.js') }}"></script>
{% endblock %}