{% extends 'base.html' %}

{% block page_title %} 
    Recipes for you
{% endblock %}



{% block main_content %}
    <div class="container">
        <div class="row">
        {% for recipe in recipes %}
            <div class="col-6 col-sm-4">
                <div class="card my-3 data-id={{recipe['id']}}">
                    {% if recipe['image'] %}
                        <img class="card-img-top" src="{{recipe['image']}}">
                    {% else %}
                        <img class="card-img-top" src="{{ url_for('static', filename='img/image_not_available.png') }}">
                    {% endif %}
                    <div class="card-body">
                    <lead class="card-subtitle">{{recipe['title']}}</lead>
                    <div class="d-flex justify-content-between align-items-center mt-3">
                        <a class="btn btn-sm btn-outline-secondary" href="/recipes/{{recipe['id']}}">See Recipe</a>
                        <button class="btn btn-outline-light"><i class="text-secondary fas fa-heart"></i> </button>
                    </div>
                    </div>
                </div>
            </div>
        
        {% endfor %}
        </div>

        <div class="row my-3">
            <div class="col-sm-4">
                <a class="btn btn-secondary btn-lg btn-block" href="#" role="button">Nada</a>
            </div>
        </div>

    </div>
{% endblock %}