{% extends 'base.html' %}

{% block page_title %} 
    Recipes for you
{% endblock %}



{% block main_content %}
    <div class="container">

        <div class="row">
            <div class="card w-50">
                <img  class="card-img-top"src="{{recipe['image']}}" alt="">
                <div class="card-body">
                    <h4 class="card-title">You should know ...</h4>
                    <p class="card-text">{{recipe['summary']}}</a></p>
                    <a class="btn btn-primary btn-block" href="#">Save to Favorites</a>
                    <table class="table table-sm mt-3">
                        <tbody>
                                <tr>
                                    <td>Ready in: </td>
                                    <td>{{recipe['readyInMinutes']}} minutes</td>
                                    <td></td>
                                </tr>
                                <tr>
                                    <td>Health Score (%):</td>
                                    <td>{{recipe['healthScore']}}</td>
                                    <td>
                                    {% if recipe['healthScore'] >= 90 %}
                                        <span class="badge badge-success">Healthy!</span>
                                    {% elif (recipe['healthScore'] >= 60) and (recipe['healthScore'] < 90) %}
                                        <span class="badge badge-warning">Okay</span>
                                    {% else %}
                                        <span class="badge badge-danger">Danger</span>
                                    {% endif %}
                                    </td>
                                </tr>
                        </tbody>
                    </table>
                </div>
                <div class="card-footer text-muted text-left">
                    Servings: {{recipe['servings']}}
                </div>
            </div>
            <div class="card w-50">
                <h3 class="card-header">{{recipe['title']}}</h3>
                <div class="card-body">
                    <h4 class="card-title">Ingredients:</h4>
                    <ul class="list-group list-group-flush">
                        {% for ingredient in recipe['extendedIngredients'] %}
                            <li class="list-group-item">{{ingredient['name']}}</li>
                        {% endfor %}
                    </ul>

                    <!-- Dish Type -->
                    {% if recipe['dishTypes']|length > 0 %}
                        <h5 class="card-title mt-3">Meal Type(s):</h5>
                        <ul class="list-group list-group-horizontal">
                            {% for type in recipe['dishTypes'] %}
                                <li class="list-group-item">{{type}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <!-- Cuisines -->
                    {% if recipe['cuisines']|length > 0 %}
                        <h5 class="card-title mt-3">Cuisine(s):</h5>
                        <ul class="list-group list-group-horizontal">
                            {% for cuisine in recipe['cuisines'] %}
                                <li class="list-group-item">{{cuisine}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}

                    <!-- Wines -->
                    {% if recipe['winePairing']['pairedWines']|length > 0 %}
                        <h5 class="card-title mt-3">Wine Pairing(s):</h5>
                        <ul class="list-group list-group-horizontal">
                            {% for wine in recipe['winePairing']['pairedWines'] %}
                                <li class="list-group-item">{{wine}}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
                <div class="card-footer text-muted text-left">
                    Source: {{recipe['creditsText']}}
                </div>
            </div>
        </div>

        <div class="row mt-3">
            <h3>Instructions</h3>
            {% if recipe['analyzedInstructions'] %}
                <table class="table table-sm table-hover">
                    <thead>
                        <tr>
                            <th>Step #</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for step in recipe['analyzedInstructions'][0]['steps'] %}
                            <tr>
                                <th scope="row">{{step['number']}}</th>
                                <td>{{step['step']}}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <mark> <i class="fas fa-exclamation-circle"></i> No instructions available for this recipe</mark>
            {% endif %}
        </div>

    </div>
{% endblock %}