{% extends 'base.html' %}

{% block page_title %} 
    Welcome to Feedback
{% endblock %}


{% block main_content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="h4 p-2 mb-2 border border-primary rounded text-center">Login</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                <div class="lead text-center">Or <a href="/register">Register</a> a new account</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6 offset-sm-3">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        {% include 'users/login_modal.html' %}
                        <button class="mt-3 btn btn-primary btn-block">Submit</button>
                    </form>
            </div>
        </div>
    </div>
{% endblock %}